body {
	color: #525252;
	background-color: #ffffff;
}
link {
	color: #9e1d1d;
	background-color: #ffffff;
}
h1 {
	color: #525252;
	background-color: #ffffff;
}
.wp-block-post-title {
	color: #525252;
	background-color: #ffffff;
}
