body {
}
default {
	background-color: #a60000;
}
a {
	color: #ffdf09;
	background-color: #880000;
}
h1 {
	background-color: #a60000;
}
heading {
}
heading {
	color: #000000;
	background-color: #ff6f6f;
}
.wp-block-post-title {
	background-color: #a60000;
}
body {
	background-color: var(--wp--preset--color--base);
}
a {
	color: var(--wp--preset--color--primary);
}
